name: build
on: [pull_request, push]

jobs:
  build_natives_linux:
    strategy:
      matrix:
        target: [ aarch64-musl, x86_64-musl ]
    runs-on: ubuntu-22.04
    container:
      image: messense/rust-musl-cross:${{ matrix.target }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v3
      - run: cargo build --lib --release
        working-directory: ./rboy
      - name: upload natives
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.target }}-natives
          path: rboy/target/**/release/*.so

  build_natives_windows:
    strategy:
      matrix:
        target: [ x86_64-pc-windows-msvc, i686-pc-windows-msvc, aarch64-pc-windows-msvc ]
    runs-on: windows-2022
    steps:
      - name: checkout repository
        uses: actions/checkout@v3
      - run: rustup target add ${{ matrix.target }}
      - run: cargo build --lib --release --target ${{ matrix.target }}
        working-directory: ./rboy
      - name: upload natives
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.target }}-natives
          path: rboy/target/**/release/*.dll

  build_natives_macos:
    strategy:
      matrix:
        target: [ x86_64-apple-darwin, aarch64-apple-darwin ]
    runs-on: macos-13
    steps:
      - name: checkout repository
        uses: actions/checkout@v3
      - run: rustup target add ${{ matrix.target }}
      - run: cargo build --lib --release --target ${{ matrix.target }}
        working-directory: ./rboy
      - name: upload natives
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.target }}-natives
          path: rboy/target/**/release/*.dylib

  build:
    runs-on: ubuntu-22.04
    needs: [build_natives_linux, build_natives_windows, build_natives_macos]
    steps:
      - name: checkout repository
        uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
      - name: setup jdk
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'microsoft'
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - run: ./gradlew copyNatives
      - run: ./gradlew build
      - name: build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Artifacts
          path: build/libs/